<app-loading *ngIf="!loaded"></app-loading>

<div class="row" *ngIf="loaded">
    <div class="col-2">
        <img [src]="artista.images[0].url" [alt]="artista.name" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3>{{ artista.name }}</h3>
        <p><a [href]="artista.external_urls.spotify" target="_blank">Ir a la página del artista</a></p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline-danger">Volver</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <table class="table text-center" style="color: white">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Álbum</th>
                    <th>Canción</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td><img [src]="track.album.images[0].url" [alt]="track.album.name" class="img-thumb"></td>
                    <td>{{ track.album.name }}</td>
                    <td>{{ track.name }}</td>
                    <td><audio [src]="track.preview_url" controls></audio></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
